::ng-deep .p-inputswitch.p-focus .p-inputswitch-slider {
   outline: none;
   box-shadow: none;
}
::ng-deep .p-inputswitch {
   transform: scale(.8);
}
::ng-deep .js-plotly-plot {
   min-height: 400px;
}
.interactive-switch {
   color: #666;
}