:host .admb-view {
  height: 100%;
}
:host ::ng-deep .p-tabview {
  height: 100%;
  display: flex;
  flex-direction: column;
}
:host ::ng-deep .p-tabview-nav {
  margin-left: 40px;
}
:host ::ng-deep .p-tabview-panels {
  flex: 1 1 auto;
  min-height: 0px;
}
:host ::ng-deep .p-tabview-panel
{
  height: 100%;
}


:host .ui-newtab-button {
  position: absolute;
  top: 5px;
  z-index: 200;

  ::ng-deep .ui-button {
    background: transparent;
    border: none;
    color: #13AA52;
  }
  ::ng-deep .ui-button:enabled:focus {
    box-shadow: none;
  }
}

:host .palettebar {
  position: absolute;
  z-index: 200;
  width: 500px;
  height: 100%;

  top: 0px;
  right: -500px;
  transition: right 0.2s;
  padding: 8px;

  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);

  admb-history-list {
    display: block;
    height: 100%;
    overflow: auto;
  }
  .thumb {
    position: absolute;
    z-index: 199;
    width: 36px;
    height: 36px;
    left: -36px;
    top: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  }
}
:host .palettebar.expanded {
  right: 0px;
}

@media print {
  :host .admb-view {
    display: contents;
  }
  :host .admb-view .ui-newtab-button {
    display: none;
  }
  :host .admb-view ::ng-deep .ui-tabview,
  :host .admb-view ::ng-deep .ui-tabview-panels,
  :host .admb-view ::ng-deep .ui-tabview-panel
    {
    display: contents;
  }
}
