<div class="admb-view" (click)="palettebarExpanded = false">
  <p-button (onClick)="newItem()" icon="pi pi-plus" class="ui-newtab-button"></p-button>
  <p-tabView (onClose)="removeItem($event.index)">
    <p-tabPanel *ngFor="let item of items; let i = index" [selected]="i == 0" [header]="item.header" [closable]="true">
      <admb-browser-panel #admb (appChange)="item.header = $event.name"></admb-browser-panel>
    </p-tabPanel>
  </p-tabView>
</div>
<div class="palettebar noprint" [class.expanded]="palettebarExpanded" [class.pinned]="palettebarPinned">
  <div class="thumb ui-button-like" (click)="palettebarExpanded = true"><i class="material-icons icon">restore</i></div>
  <admb-history-list></admb-history-list>
</div>
