<div class="p-inputgroup">
  <button pButton icon="pi pi-step-backward-alt" (click)="slideLeft()"></button>
  <button pButton icon="p-hidden" [label]="rangeLabel | range" (click)="ranges.toggle($event)"></button>
  <button pButton icon="pi pi-search-plus" (click)="zoomIn()"></button>
  <button pButton icon="pi pi-search-minus" (click)="zoomOut()"></button>
  <button pButton icon="pi pi-step-forward-alt" (click)="slideRight()"></button>
</div>
<p-overlayPanel #ranges appendTo="body">
  <p-tabView>
    <p-tabPanel header="Presets">
      <div class="grid">
        <div class="col" *ngFor="let psg of presets">
          <h5>{{psg.section}}</h5>
          <div *ngFor="let preset of psg.sets">
              <a *ngIf="preset !== '-'" (click)="selectPreset(preset)">{{preset?.label}}</a>
              <hr *ngIf="preset === '-'">
            </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Since">
      <div>
        <div>Earliest:</div>
        <div>
          <p-inputNumber [(ngModel)]="relativeDuration" [showButtons]="true" [size]="5"></p-inputNumber>
          <p-dropdown [(ngModel)]="relativeUnits" [options]="beforeNowOptions"></p-dropdown>
          <button pButton (click)="setRelative()" label="Apply"></button>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Between">
      <div>
        <div>
          <span class="c1">Start:</span>
          <span><p-calendar [(ngModel)]="absoluteStart" [showTime]="true" [hourFormat]="'12'" [showButtonBar]="true" [monthNavigator]="true" [yearNavigator]="true" [appendTo]="'body'"></p-calendar></span>
        </div>
        <div>
          <span class="c1">End:</span>
          <span><p-calendar [(ngModel)]="absoluteEnd" [showTime]="true" [hourFormat]="'12'" [showButtonBar]="true" [monthNavigator]="true" [yearNavigator]="true" [appendTo]="'body'"></p-calendar></span>
        </div>
      </div>
      <button pButton (click)="setAbsolute()" label="Apply"></button>
    </p-tabPanel>
  </p-tabView>
</p-overlayPanel>
