:host {
  // for some reason this needs an initial width for the flex to work
  // the actual value is insignificant
  width: 100px;
}
:host ::ng-deep .CodeMirror {
  height: auto;
  width: 100%;
  border: none !important;
  padding: 0px !important;
}

:host ::ng-deep .cm-operator {
  font-weight: bold;
  color: blue;
}
