@import 'colors';

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}
section.content {
  flex-basis: auto;
  flex-grow: 1;
  margin-left: .4em;
  margin-right: .4em;
  position: relative;
}

section.menubar {
  color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  transition: flex-basis 400ms ease;
  background-color: $slate1;

  .icon {
    padding: 7px 6px 7px 6px;
  }
}
section.menubar.collapsed {
  flex-basis: 36px;
  width: 36px;
}

section.menubar header {
  background-color: $slate0;
}
section.menubar nav {
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      line-height: 24px;
      list-style: none;
      width: 100%;
      overflow: hidden;
      text-overflow: clip;
      white-space: nowrap;

      * {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }

    }
  }
}


section.palettebar {
  position: absolute;
  z-index: 200;
  width: 500px;
  height: 100%;

  top: 0px;
  right: -500px;
  transition: right 0.2s;
  padding: 8px;

  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);

  admb-history-list {
    display: block;
    height: 100%;
    overflow: auto;
  }
  .thumb {
    position: absolute;
    z-index: 199;
    width: 40px;
    height: 40px;
    left: -40px;
    top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    background: #007ad9;
    color: white;
  }
}
section.palettebar.expanded {
  right: 0px;
}
