.underlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0,.9);
  z-index: 400;
}
.loginOverlay {
  width: 400px;
  height: 310px;
  margin-top: -150px;
  position: relative;
  top: 50%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);

  padding: 40px;
  padding-top: 20px;
  text-align: center;
}

.loginOverlay .login-form-control {
  padding-bottom: 4px;
}
.loginOverlay ::ng-deep .p-dropdown {
  text-align: start;
}
.loginOverlay ::ng-deep .p-dropdown .p-dropdown-item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
}
.loginOverlay ::ng-deep .p-dropdown .p-dropdown-item-group {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  font-style: italic;
}

.loginOverlay ::ng-deep .p-dropdown ,
.loginOverlay ::ng-deep .p-button
{
  width: 320px;
}
.loginOverlay ::ng-deep .p-inputtext {
  width: 295px;
}
.loginOverlay ::ng-deep .p-message {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;

}
.loginOverlay ::ng-deep .p-message-wrapper {
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
}
