<div class="underlay">
  <div class="loginOverlay">
    <h2>Controller Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <div class="login-form-control">
      <p-dropdown [options]="controllers" formControlName="controller"></p-dropdown>
    </div>
    <div class="p-inputgroup login-form-control">
      <input type="text" pInputText formControlName="uid" placeholder="username">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    </div>
    <div class="p-inputgroup login-form-control">
      <input type="password" pPassword [feedback]="false" formControlName="pwd" placeholder="password">
      <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
    </div>
    <button pButton type="submit" label="Login" [loading]="blocked"></button>
    </form>
    <div *ngIf="loginError" style="color: red;">{{loginError}}</div>
  </div>
</div>
<p-blockUI [blocked]="blocked"></p-blockUI>
