@import 'colors';
@import 'fonts';

html, body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $gray1;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-style: normal;
}

.icon.disabled {
  color: $gray4;
}
