:host .admb-view {
  height: 100%;
}
:host .admb-view ::ng-deep .ui-tabview {
  height: 100%;
  display: flex;
  flex-direction: column;
}
:host .admb-view ::ng-deep .ui-tabview-nav {
  margin-left: 40px;
}
:host .admb-view ::ng-deep .ui-tabview-panels {
  flex: 1 1 auto;
  min-height: 0px;
}
:host .admb-view ::ng-deep .ui-tabview-panel
{
  height: 100%;
}


:host .admb-view .ui-newtab-button {
  position: absolute;
  top: 5px;
  z-index: 200;

  ::ng-deep .ui-button {
    background: transparent;
    border: none;
    color: #13AA52;
  }
  ::ng-deep .ui-button:enabled:focus {
    box-shadow: none;
  }
}

@media print {
  :host admb-login {
    display: none;
  }
  :host .admb-view {
    display: contents;
  }
  :host .admb-view .ui-newtab-button {
    display: none;
  }
  :host .admb-view ::ng-deep .ui-tabview,
  :host .admb-view ::ng-deep .ui-tabview-panels,
  :host .admb-view ::ng-deep .ui-tabview-panel
    {
    display: contents;
  }
}
