<div class="app-layout">
  <section class="sidebar collapsed">
      <header>
        <i class="material-icons icon">trending_up</i>
      </header>
      <nav>
        <ul>
          <li><i class="material-icons icon">assessment</i><span class="label">Browser</span></li>
        </ul>
      </nav>
  </section>
  <section class="content">
    <div class="admb-view">
      <p-button (onClick)="newItem()" icon="pi pi-plus" class="ui-newtab-button"></p-button>
      <p-tabView (onClose)="removeItem($event.index)">
        <p-tabPanel *ngFor="let item of items; let i = index" [selected]="i == 0" [header]="item.header" [closable]="true">
          <admb-browser-panel #admb (appChange)="item.header = $event.name"></admb-browser-panel>
        </p-tabPanel>
      </p-tabView>
    </div>
  </section>

  <p-toast></p-toast>
  </div>
