<div class="app-layout">
  <section class="menubar noprint collapsed">
      <header>
        <i class="material-icons icon">trending_up</i>
      </header>
      <nav>
        <ul>
          <li><i class="material-icons icon">assessment</i><span class="label">Browser</span></li>
        </ul>
      </nav>
  </section>
  <section class="content">
    <admb-panel *ngIf="user != null"></admb-panel>
    <admb-profile *ngIf="user != null" [user]="user" class="noprint"></admb-profile>
  </section>
</div>

<admb-login *ngIf="user == null && !userLoading" class="noprint"></admb-login>
<p-toast></p-toast>
