<div class="app-layout">
  <section class="menubar noprint collapsed">
      <header>
        <i class="material-icons icon">trending_up</i>
      </header>
      <nav>
        <ul>
          <li><a routerLink="/admb" routerLinkActive="active"><i class="material-icons icon">analytics</i><span class="label">Browser</span></a></li>
          <li><a routerLink="/admb-dashboard" routerLinkActive="active"><i class="material-icons icon">dashboard</i><span class="label">Dashboard</span></a></li>
        </ul>
      </nav>
  </section>
  <div class="main-wrapper" *ngIf="user != null">
    <section class="header noprint">
      <span style="display: inline-block; padding-top: 3px; padding-left: 4px;">
        <img src="../assets/appd_logo.png" height="25">
        Metrics Browser
      </span>
      <admb-profile [user]="user"></admb-profile>
    </section>
    <section class="content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</div>

<admb-login *ngIf="user == null && !userLoading" class="noprint"></admb-login>
<p-toast></p-toast>
