<div class="header">
  <div style="display: flex;">
    <div style="flex: 1 1 auto;">
      <admb-app-select (selectedAppsChange)="selectApps($event)"></admb-app-select>
    </div>
    <div>
      <admb-timepicker #picker [(range)]="range"></admb-timepicker>
      <span style="display: inline-block; width: 2px;"></span>
      <p-button label="Execute" (onClick)="runExpression()" [disabled]="!isValid()" icon="pi pi-cog"></p-button>
    </div>
  </div>
  <admb-expr-editor (parseResultChange)="this.parseResult = $event" (exprExecute)="onExprExecute($event)"></admb-expr-editor>
  <p-progressBar #progress mode="determinate" [class.valid]="isValid()"></p-progressBar>
</div>
<div class="results">
  <div *ngIf="plotGroups">
    <admb-ts-groups [groups]="plotGroups"></admb-ts-groups>
  </div>
</div>
