:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
:host .results {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow: hidden;
  position: relative;
}
:host ::ng-deep .ui-scrollpanel {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
:host ::ng-deep .ui-progressbar {
   height: 3px;
   background-color: red;
 }
 :host ::ng-deep .valid .ui-progressbar {
  background-color: green;
 }

 @media print {
  :host {
    display: contents;
  }
  :host ::ng-deep .ui-scrollpanel {
    display: contents;
  }
  :host .results {
    display: contents;
  }
  :host .header div {
    display: none;
  }
  :host .header div.p-grid {
    display: block;
  }
  :host .header p-button {
    display: none;
  }
}
